## Import dependencies

In [177]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from pandas.api.types import CategoricalDtype
pd.set_option('mode.chained_assignment', None)

# 1. covid19 원본 데이터셋 불러오기

In [178]:
df_covid19 = pd.read_csv('data/owid-covid-data.csv')

In [180]:
df_covid19.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-19,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-26,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-02,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

# 2. 전처리: 전체 데이터셋 중 최근 100일간의 데이터를 필터링한 df_covid19_100 생성

In [181]:
# df_covid19['data']를 datetime으로 변환
df_covid19['date'] = pd.to_datetime(df_covid19['date'], format="%Y-%m-%d")

In [182]:
df_covid19['date'] # datetime64로 dtype이 변경되었음을 확인할 수 있음

0        2020-01-05
1        2020-01-12
2        2020-01-19
3        2020-01-26
4        2020-02-02
            ...
275910   2023-12-03
275911   2023-12-10
275912   2023-12-17
275913   2023-12-24
275914   2023-12-31
Name: date, Length: 275915, dtype: datetime64[ns]

In [183]:
# 대륙 데이터와 최종 데이터로부터 100일 전 데이터 필터링
df_covid19_100 = df_covid19[(df_covid19['iso_code'].isin(['KOR', 'OWID_ASI', 'OWID_EUR', 
'OWID_OCE', 'OWID_NAM', 'OWID_SAM', 'OWID_AFR'])) 
& (df_covid19['date'] >= (max(df_covid19['date']) - timedelta(days = 100)))]

In [184]:
df_covid19_100

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
2398,OWID_AFR,NaN,Africa,2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2399,OWID_AFR,NaN,Africa,2023-09-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2400,OWID_AFR,NaN,Africa,2023-09-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2401,OWID_AFR,NaN,Africa,2023-09-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
2402,OWID_AFR,NaN,Africa,2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230625,KOR,Asia,South Korea,2023-12-03,34571873.0,0.0,0.0,35934.0,0.0,0.0,...,40.9,NaN,12.27,83.03,0.916,5.181581e+07,NaN,NaN,NaN,NaN
230626,KOR,Asia,South Korea,2023-12-10,34571873.0,0.0,0.0,35934.0,0.0,0.0,...,40.9,NaN,12.27,83.03,0.916,5.181581e+07,NaN,NaN,NaN,NaN
230627,KOR,Asia,South Korea,2023-12-17,34571873.0,0.0,0.0,35934.0,0.0,0.0,...,40.9,NaN,12.27,83.03,0.916,5.181581e+07,NaN,NaN,NaN,NaN
230628,KOR,Asia,South Korea,2023-12-24,34571873.0,0.0,0.0,35934.0,0.0,0.0,...,40.9,NaN,12.27,83.03,0.916,5.181581e+07,NaN,NaN,NaN,NaN
230629,KOR,Asia,South Korea,2023-12-31,34571873.0,0.0,0.0,35934.0,0.0,0.0,...,40.9,NaN,12.27,83.03,0.916,5.181581e+07,NaN,NaN,NaN,NaN

In [185]:
# 대륙명을 한글로 변환
df_covid19_100['location'] = np.where(df_covid19_100['location'] == 'South Korea', '한국', df_covid19_100['location'])
df_covid19_100['location'] = np.where(df_covid19_100['location'] == 'Asia', '아시아', df_covid19_100['location'])
df_covid19_100['location'] = np.where(df_covid19_100['location'] == 'Europe', '유럽', df_covid19_100['location'])
df_covid19_100['location'] = np.where(df_covid19_100['location'] == 'Oceania', '오세아니아', df_covid19_100['location'])
df_covid19_100['location'] = np.where(df_covid19_100['location'] == 'North America', '북미', df_covid19_100['location'])
df_covid19_100['location'] = np.where(df_covid19_100['location'] == 'South America', '남미', df_covid19_100['location'])
df_covid19_100['location'] = np.where(df_covid19_100['location'] == 'Africa', '아프리카', df_covid19_100['location'])

In [188]:
df_covid19_100.query('location == "북미"')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
180227,OWID_NAM,NaN,북미,2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180228,OWID_NAM,NaN,북미,2023-09-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180229,OWID_NAM,NaN,북미,2023-09-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180230,OWID_NAM,NaN,북미,2023-09-29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180231,OWID_NAM,NaN,북미,2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180317,OWID_NAM,NaN,북미,2023-12-25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180318,OWID_NAM,NaN,북미,2023-12-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180319,OWID_NAM,NaN,북미,2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180320,OWID_NAM,NaN,북미,2023-12-28,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN
180321,OWID_NAM,NaN,북미,2023-12-31,124495936.0,7.0,4375.143,1621477.0,3.0,47.143,...,NaN,NaN,NaN,NaN,NaN,600323657.0,NaN,NaN,NaN,NaN

In [190]:
## 이산형 변수 설정
ord = CategoricalDtype(categories = ['한국', '아시아', '유럽', '북미', '남미', 
'아프리카','오세아니아'], ordered = True)

df_covid19_100['location'] = df_covid19_100['location'].astype(ord)

In [191]:
# date로 정렬
df_covid19_100 = df_covid19_100.sort_values('date')

In [192]:
df_covid19_100

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
2398,OWID_AFR,NaN,아프리카,2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.426737e+09,NaN,NaN,NaN,NaN
180227,OWID_NAM,NaN,북미,2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.003237e+08,NaN,NaN,NaN,NaN
14397,OWID_ASI,NaN,아시아,2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
229290,OWID_SAM,NaN,남미,2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.368167e+08,NaN,NaN,NaN,NaN
81493,OWID_EUR,NaN,유럽,2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.448078e+08,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14495,OWID_ASI,NaN,아시아,2024-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
81591,OWID_EUR,NaN,유럽,2024-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.448078e+08,NaN,NaN,NaN,NaN
229388,OWID_SAM,NaN,남미,2024-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.368167e+08,NaN,NaN,NaN,NaN
14496,OWID_ASI,NaN,아시아,2024-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
81592,OWID_EUR,NaN,유럽,2024-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.448078e+08,NaN,NaN,NaN,NaN

# 3. df_covid19_100을 한국과 각 대륙별 열로 배치한 넓은 형태의 데이터프레임으로 변환

In [193]:
df_covid19_100_wide = df_covid19_100[['date', 'location', 'new_cases', 'people_fully_vaccinated_per_hundred']] \
    .rename(columns={'new_cases': '확진자', 'people_fully_vaccinated_per_hundred': '백신접종완료자'})

print(df_covid19_100_wide)

             date location  확진자  백신접종완료자
2398   2023-09-26     아프리카  NaN    32.36
180227 2023-09-26       북미  NaN    65.70
14397  2023-09-26      아시아  NaN    73.30
229290 2023-09-26       남미  NaN    77.13
81493  2023-09-26       유럽  NaN    66.21
...           ...      ...  ...      ...
14495  2024-01-02      아시아  NaN    73.32
81591  2024-01-02       유럽  NaN    66.21
229388 2024-01-02       남미  NaN    77.13
14496  2024-01-03      아시아  NaN    73.32
81592  2024-01-03       유럽  NaN    66.21

[483 rows x 4 columns]

In [194]:
df_covid19_100_wide = df_covid19_100_wide.pivot(index='date', columns='location', 
values=['확진자', '백신접종완료자']).sort_values(by = 'date')

In [195]:
df_covid19_100_wide.columns = ['확진자_한국', '확진자_아시아', '확진자_유럽', '확진자_북미',  
'확진자_남미', '확진자_아프리카', '확진자_오세아니아', '백신접종완료자_한국', 
'백신접종완료자_아시아', '백신접종완료자_유럽', '백신접종완료자_북미', 
'백신접종완료자_남미', '백신접종완료자_아프리카', '백신접종완료자_오세아니아']

df_covid19_100_wide

,확진자_한국,확진자_아시아,확진자_유럽,확진자_북미,확진자_남미,확진자_아프리카,확진자_오세아니아,백신접종완료자_한국,백신접종완료자_아시아,백신접종완료자_유럽,백신접종완료자_북미,백신접종완료자_남미,백신접종완료자_아프리카,백신접종완료자_오세아니아
date,,,,,,,,,,,,,,
2023-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.30,66.21,65.7,77.13,32.36,NaN
2023-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.30,66.21,65.7,77.13,32.36,NaN
2023-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.30,66.21,65.7,77.13,32.36,NaN
2023-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.30,66.21,65.7,77.13,32.36,NaN
2023-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.30,66.21,65.7,77.13,32.36,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.32,66.21,NaN,77.13,NaN,NaN
2023-12-31,0.0,51253.0,0.0,7.0,859.0,105.0,25.0,NaN,73.32,66.21,NaN,77.13,NaN,NaN
2024-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.32,66.21,NaN,77.13,NaN,NaN
2024-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.32,66.21,NaN,77.13,NaN,NaN
2024-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.32,66.21,NaN,NaN,NaN,NaN

# 4. covid19 데이터를 국가별로 요약한 df_covid19_stat 생성

In [196]:
df_covid19_stat = df_covid19.groupby(['iso_code', 'continent', 'location'], dropna=True).agg(
    인구수 = ('population', 'max'), 
    전체사망자수 = ('new_deaths', 'sum'), 
    백신접종자완료자수 = ('people_fully_vaccinated', 'max'), 
    인구백명당백신접종완료율 = ('people_fully_vaccinated_per_hundred', 'max'), 
    인구백명당부스터접종자수 = ('total_boosters_per_hundred', 'max')).reset_index()

df_covid19_stat['십만명당사망자수'] = round(df_covid19_stat['전체사망자수'] / 
                                    df_covid19_stat['인구수'] * 100000, 5)

df_covid19_stat['백신접종완료율'] = df_covid19_stat['백신접종자완료자수'] / \
df_covid19_stat['인구수']

In [198]:
df_covid19_stat

,iso_code,continent,location,인구수,전체사망자수,백신접종자완료자수,인구백명당백신접종완료율,인구백명당부스터접종자수,십만명당사망자수,백신접종완료율
0,ABW,North America,Aruba,106459.0,292.0,84363.0,79.24,NaN,274.28400,0.792446
1,AFG,Asia,Afghanistan,41128772.0,7973.0,18115861.0,44.05,6.39,19.38546,0.440467
2,AGO,Africa,Angola,35588996.0,1937.0,9591203.0,26.95,8.47,5.44269,0.269499
3,AIA,North America,Anguilla,15877.0,12.0,10380.0,65.38,20.84,75.58103,0.653776
4,ALB,Europe,Albania,2842318.0,3604.0,1279333.0,45.01,14.16,126.79792,0.450102
...,...,...,...,...,...,...,...,...,...,...
238,WSM,Oceania,Samoa,222390.0,31.0,177954.0,80.02,36.99,13.93948,0.800189
239,YEM,Asia,Yemen,33696612.0,2159.0,806967.0,2.39,0.20,6.40717,0.023948
240,ZAF,Africa,South Africa,59893884.0,102595.0,21038797.0,35.13,7.36,171.29462,0.351268
241,ZMB,Africa,Zambia,20017670.0,4069.0,9213802.0,46.03,0.17,20.32704,0.460283
242,ZWE,Africa,Zimbabwe,16320539.0,5731.0,4751270.0,29.11,6.33,35.11526,0.291122

In [197]:
## 여백 설정을 위한 변수 설정
margins_P = {'t' : 50, 'b' : 25, 'l' : 25, 'r' : 25}